.checkout {
  .row {
    &.header {
      background: #34494e;
      .product_price {
        text-align: right;
      }
      p.header {
        font-family: Candara;
        color: #fdf3e6;
        font-size: 16px;
        line-height: 35px;
        margin-bottom: 0;
      }
    }

    .product-line {
      > div {
        padding: 10px;
      }
      div {
        color: #34494e;
        font-size: 14px;
        &.product_name {
          a {
            color: #34494e;
            font-size: 14px;
          }
        }
        .product_price {
          text-align: right;
        }
        form {
          width: auto;
          float: left;
          .delete_cart {
            margin-top:7px;
          }
          #quantitybox0 {
            width: 50px;
          }
        }
      }
    }
    .totalprice-area {
      .row {
        .header {
          color: #34494e;
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
  }
}

.update {
  form {
    display: inline-block;
  }
}

.discount-form .update_cart form input {
  float: left;
  margin-top: 0;
  height: 30px;
  line-height: 30px;
  margin-right: 10px;
  &#coupon_input {
    width: 50%;
  }
  &#coupon_button {
    width: 25%;
  }
}

.blackbutton, .continue_cart_button {
  background: none #34494e;
  border-radius: 3px;
  color: #fdf3e6;
  font-family: "Candara";
  font-size: 16px;
  display: block;
  float: none;
  font-weight: 600;
  height: 44px !important;
  line-height: 44px;
  margin: 10px auto 0;
  text-align: center;
  text-transform: uppercase;
  width: 115px;
  border: none;
}
.greenbutton, #checkout_final, .view_cart_button {
  background: none #3a9d2a;
  border-radius: 3px;
  color: #fdf3e6;
  font-family: "Candara";
  font-size: 16px;
  display: block;
  float: none;
  font-weight: 600;
  height: 44px;
  line-height: 44px;
  margin: 10px auto 0;
  text-align: center;
  text-transform: uppercase;
  width: 115px;
  border: none;
}

.checkout-login {
      input#username, input#password {
         max-width: 100%;
      }

      input.button {
        background: #34494e;
        border: none;
        border-radius: 3px;
        color: #fdf3e6;
        font-family: "Candara";
        font-size: 16px;
      }
  margin-bottom: 20px;
  .row {
    margin-bottom: 10px;
  }
}

.checkout-bar {
  .checkout-bar-1, .checkout-bar-2, .checkout-bar-3 {
    background: none;
    min-height: 40px;
    .button {
    min-height: 40px;
    line-height: 40px;
    height: auto;
    color: #fdf3e6;
    background: #34494e;
    border-radius: 5px;
    text-align: center;
    }
  }


  .checkout-bar-1-active, .checkout-bar-2-active, .checkout-bar-3-active {
    background: none;
    min-height: 40px;
    .button {
    min-height: 40px;
    line-height: 40px;
    height: auto;
    color: #fdf3e6;
    background: #597b83;
    border-radius: 5px;
    text-align: center;
    }
  }
}

#tblprivate_customer, #tblcompany_customer {
  label {
    clear: both;
    max-width: 100%;
    position: relative;
    margin-top: 0 !important;
    background: none;
    border: none;
    padding: 0;
    text-align:left;
  }
  td {
    max-width: 50%;
  }
  input {
    max-width: 100%;
    position: relative;
    margin-bottom: 10px;
  }
}

#tdUsernamePassword {
  label {
    clear: both;
    max-width: 100%;
    position: relative;
    margin-top: 0 !important;
    background: none;
    border: none;
    padding: 0;
    text-align:left;
  }
  input {
    max-width: 100%;
    position: relative;
    margin-bottom: 10px;
  }
}


.bg_one_checkout {
  table {
    tr {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 480px) {
  .checkout-bar {
    .checkout-bar-1, .checkout-bar-2, .checkout-bar-3 {
      .button {
        line-height: 20px;
      }
    }
    .checkout-bar-1-active, .checkout-bar-2-active, .checkout-bar-3-active {
      .button {
        line-height: 20px;
      }
    }
  }

  #tdUsernamePassword {
    clear: both;
    margin-top: 50px;
  }

}


